<ion-header>
  <ion-toolbar>
    <ion-title>MES CREATIONS GRAPHIQUES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    
    <img id="img" src="../../assets/images/flyerclos.jpg" />
    <img id="img" src="../../assets/images/flyer2faces-min.jpg" />
    <img id="img" src="../../assets/images/monlogo-min.jpg" />
    <img id="img" src="../../assets/images/cartedevisitepsd-min.jpg" />
    <img id="img" src="../../assets/images/collyceum-min.jpg" />
    <img id="img" src="../../assets/images/interface1-min.jpg" />
    <img id="img" src="../../assets/images/logovinoltis-min.jpg" />
  </div>
</ion-content>