body{
    background-image: url(../../assets/images/882341.jpg);
}

.container{
    width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 20px;
}
ion-title {
    font-size: 50px;
    color:#ff6553 ;
    text-align: center;
    padding-TOP: 50PX;
    padding-bottom: 50PX;
}