<ion-header>
  <ion-toolbar>
    <ion-title>A PROPOS DE MOI</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <img class="about-pic" data-aos="fade-up" data-aos-once="true" data-aos-easing="ease-in-out"
      src="../../assets/images/moi.png" />
    <div class="text" data-aos="fade-up" data-aos-once="true" data-aos-easing="ease-in-out">
      <p id="descr"> Bonjour, je m'appelle Laurie Candela et j'ai 20 ans. Je suis actuellement en deuxième année de DUT
        MMI, Métiers du Multimédia et de l'Internet et je souhaite, par la suite, devenir intégratrice web après une
        licence professionnelle dans les métiers du numérique. J'étudie à l'IUT du Puy-En-Velay. Dans la vie, j'aime
        regarder des séries et écouter de la musique, comme pratiquement tout les jeunes, mais j'aime aussi créer, que
        ce soit coder des sites internet ou faire du design comme la création de maquette ou la création de print. </p>
    </div>
  </div>
</ion-content>