<ion-header>
  <ion-toolbar>
    <ion-title>ME CONTACTER</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <p id='num' class="col-md-12 section-title text-center mx-auto"> laurie.candelapro@gmail.com </p>
    <p id="num" class="col-md-12 section-title text-center mx-auto"> 07.78.82.91.48 /326 rue de la bèze 01300
      Groslée-Saint-Benoit<br> étudie au Puy-En-Velay, 12 boulevard Saint-Louis 43000 Le Puy-En-Velay </p>
    <br>
    <br>
    <div class="meteo">
      <ion-text class="texte"> Votre ville : </ion-text> {{name}} <br>
      <ion-text class="texte"> Votre pays : </ion-text>{{country}} <br>
      <ion-text class="texte"> La latidude de {{name}} :</ion-text> {{latitude}}<br>
      <ion-text class="texte">L'élévation de {{name}} :</ion-text> {{elevation}} <br>
      <ion-text class="texte">Le soleil se lève à </ion-text> {{sunrise}} <br>
      <ion-text class="texte"> et se couche à</ion-text> {{sunset}} <br>
      <ion-text class="texte"> Aujourd'hui, nous sommes </ion-text>{{date}} <br>
      <ion-text class="texte">Il est </ion-text> {{hour}} <br>
      <ion-text class="texte">Il fait </ion-text> {{condition}}<br>
      <ion-text class="texte">La température minimale sera de  </ion-text> {{tmin}}°<br>
      <ion-text class="texte">et maximale de </ion-text> {{tmax}}°<br>
    </div>
    <div class="icon">
      <ion-text><img src={{icon_big}}></ion-text>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div id="demo"></div>
    <img src="" id="map">
    <br>
    <button (click)="openCamera($event)">Voir la caméra</button>
    <br>
  <video id="video" width="640" height="480" autoplay></video>

  </div>
</ion-content>