

.container{
    width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 20px;
}

.meteo{
    float:left;
    width:60%;
    text-align: initial;
}

.icon{
margin-left:60%   
}

.texte{
    color: #ff6553;
}
ion-title {
    font-size: 50px;
    color:#ff6553 ;
    text-align: center;
    padding-bottom: 50PX;
    padding-TOP: 50PX;
}

#map{
    width: 500px;
    padding: 15px;
}