<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>PORTFOLIO DE LAURIE CANDELA</ion-list-header>
          <ion-note>laurie.candelapro@gmail.com</ion-note>

          <ion-menu-toggle auto-hide="false">
            <ion-item [routerLink]="['/about']">
              <ion-label>About</ion-label>
            </ion-item>
            <ion-item [routerLink]="['/web']">
              <ion-label>Mes créations web</ion-label>
            </ion-item>
            <ion-item [routerLink]="['/graphisme']">
              <ion-label>Mes créations graphiques</ion-label>
            </ion-item>

            <ion-item [routerLink]="['/contact']">
              <ion-label>Contact</ion-label>
            </ion-item>
           <ion-item [routerLink]="['/news']">
              <ion-label>News</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>