<ion-header>
  <ion-toolbar>
    <ion-title>NEWS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-text *ngIf="!isload"> Loading...</ion-text>
    <div *ngIf="isload">
      <div *ngFor="let news of data">
        <ion-text>
          <h1>
            <ion-text id="texte">Source : </ion-text> {{news.source.name}}
          </h1>
        </ion-text>
        <ion-text>
          <h1>
            <ion-text id="texte"> Auteur :</ion-text> {{news.author}}
          </h1>
        </ion-text>
        <ion-text>
          <h1>
            <ion-text id="texte"> Titre :</ion-text> {{news.title}}
          </h1>
        </ion-text>
         <ion-text>
          <img id="imgnews" src= {{news.urlToImage}}>
        </ion-text>
        <ion-text>
          <h1>
            <ion-text id="texte"> url :</ion-text> {{news.url}}
          </h1>
        </ion-text>
        <ion-text>
          <h1>
            <ion-text id="texte">Description :</ion-text> {{news.description}}
          </h1>
        </ion-text>
        <ion-text>
          <h1>
            <ion-text id="texte"> Publié à : </ion-text> {{news.publishedAt}}
          </h1>
        </ion-text>
        <ion-text>
          <h1>
            <ion-text id="texte">Article :</ion-text> {{news.content}}
          </h1>
        </ion-text>

      <br>
      <br>
      <br>
      <br>
      </div>
    </div>
  </div>

</ion-content>