ion-title {
    font-size: 50px;
    color:#ff6553 ;
    text-align: center;
    
    padding-bottom: 50PX;
    padding-TOP: 50PX;
}

.container{
        width: 900px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-size: 20px;

}
img{
    text-align: center;
    
}
#texte{
    color: #ff6553;
}