#img{
    width: 400px;
    height: 300px;
    padding: 35px 35px 35px 35px  ;
}  
.container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}ion-title {
    font-size: 50px;
    color:#ff6553 ;
    text-align: center;
    
    padding-bottom: 50PX;
    padding-TOP: 50PX;
}