<ion-header>
  <ion-toolbar>
    <ion-title> MES CREATIONS WEB</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
  <img id="img" src="../../assets/images/ONS-min.jpg" />
  <img id="img" src="../../assets/images/webdesign1-min.jpg" />
  <img id="img" src="../../assets/images/webdesign2-min.jpg" />
  <img id="img"src="../../assets/images/webdesignsite.jpg" />
  <img id="img" src="../../assets/images/siteDD.jpg" />
  <img id="img"src="../../assets/images/jeujs.jpg" />
</div>
</ion-content>
